.about__head {
    margin: 0 0 50px;
}

.about .head__subtitle {
    width: max-content;
    font-size: 24px;
    color: transparent;
    background: linear-gradient(to bottom, #99d7db, #788fdb, #9e95c7);
    background-clip: text;

}

.about .head__title {
    font-size: 48px;
    color: #555;
    margin: 0 0 20px;
}

.about__head p {
    font-size: 20px;
    color: #555;
    font-weight: 500;
}

.about__content {
    max-width: 850px;
}

 .about__content p {
    color: #555;
    margin: 0 0 20px;
}

.about__content li {
    margin: 0 0 0 20px;
    color: #788fdb;
}

#about__content-titleLink {
    margin: 60px 0 0 0;
    color: #788fdb;
    font-weight: 400;
    font-size: 20px;
}

.about__content a {
    width: max-content;
    padding: 15px 30px;
    margin: 50px 0 0;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    background: linear-gradient(to bottom, #99d7db, #788fdb, #9e95c7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0003;
    transition: 400ms;

    &:hover {
        box-shadow: none;
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

    .about__content a {
        margin: 50px auto 0;
    }

    #about__content-titleLink {
        text-align: center;
    }
}