.activities {
    padding: 30px 5% 30px 300px;
}

.activities h2 {
    color: #555;
    font-weight: 500;
}

.activities .list__item {
    padding: 20px 10px;
    display: flex;
    border-bottom: 1px solid #0002;
    justify-content: space-between;

    &:hover {
        background: #f9f9f9;
    }
}

.activities .list__item-data p {
    font-weight: 500;
    text-transform: capitalize;
    color: #444;
}

.fisio .item__data a {
    font-size: 12px;
    text-transform: capitalize;
    color: #444;
    text-decoration: none;
    transition: 400ms;
    text-transform: none;
    &:hover {
        opacity: .7;
    }
}

.activities .list__item button {
    cursor: pointer;
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

    .activities {
        padding: 30px 5%;
    }

    .fisio .patients__list li .item__data {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }
}